* {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
}

.App {
  background: #111;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
}

.page {
  height: 100%;
  width: 100%;
}

.nav {
  background: #ff0000;
  height: 100%;
}

body {
  background: #000;
  height: 100%;
}

label {
  color: aliceblue;
}

canvas {
  height: 500px;
}




